@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: #110025;
}
::-webkit-scrollbar {
    width: 12px;
    background: #110025;
}
::-webkit-scrollbar-thumb {
    background: #006fd6;
}

body {
    background-color: #110025;
    height: 100%;
}

.voltar {
    position: relative;
    top: 20px;
    left: 20px;
    padding: 5px;
    font-size: 16px;
    background: #00a6e7;
    border: none;
    border-radius: 6px;
    width: 50px;
    height: 25px;
}

.voltar:hover {
    cursor: pointer;
    box-shadow: 0px 8px 26px rgba(0, 222, 254, 0.36);
}
