@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    background-color: #110025;
}
::-webkit-scrollbar {
    width: 12px;
    background: #110025;
}
::-webkit-scrollbar-thumb {
    background: #006fd6;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #110025;
    height: 100%;
    overflow-x: hidden;
}
.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    font-size: 16px;
    background: #00a6e7;
    border: none;
    border-radius: 6px;
    width: 50px;
    height: 25px;
}

.voltar:hover {
    cursor: pointer;
    box-shadow: 0px 8px 26px rgba(0, 222, 254, 0.36);
}

main {
    margin-top: 7vh;
    width: 90%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100%;
}

h1, h2, h3, h4 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding-bottom: 5px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 18px;
    text-align: center;
}

.container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.container span:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, rgb(0, 145, 194));
    animation: animar1 2s linear infinite;
}

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.container span:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgb(0, 145, 194));
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.container span:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, rgb(0, 145, 194), transparent);
    animation: animar3 2s linear infinite;
}

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container span:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, rgb(0, 145, 194));
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}


.container-esq, .container-dir {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px;
}

.container-esq {
    height: 100%;
    align-items: center;
}

.container-dir {
    align-items: flex-start;
    height: 100%;
    width: 65%;
}
.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.perfil img {
    padding: 0;
    border-radius: 100px;
    height: 250px;
    cursor: pointer;
    transition: 0.1s;
}

.perfil img:hover {
    opacity: 0.7;
}

.informacoes-conta {
    margin-top: 30px;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.geral {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.conquistas, .meus-jogos, .jogados-recentemente {
    width: 100%;
}

.sessao {
    margin-top: 2px;
    height: 120px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    opacity: 0.5;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .container-esq, .container-dir {
        width: 100%;
    }
    .container-esq {
        flex-direction: row;
        gap: 40px;
        align-items: flex-start;
    }
    .container-dir {
        margin-top: -20px;
    }
    .sessao {
        width: 100%;
    }
}

@media screen and (max-width: 570px){
    .container-esq {
        flex-direction: column;
        gap: 0px;
    } 
    .perfil {
        margin: 0 auto;
    }
    .informacoes-conta {
        width: 100%;
    }
    .informacoes-conta h2 {
        margin:  0 auto;
        margin-top: -10px;
        padding-bottom: 10px;
    }
}